.header{
    display: flex;
    color: aliceblue;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
    background-color: var(--slack-color);
}

.header__left{
    display: flex;
    flex: 0.3;
    align-items: center;
    margin-left: 20px;
}

.header__left > .MuiSvgIcon-root{
    margin-left: 20px;
    margin-right: 30px;
}

.header__search{
    flex:0.4;
    display: flex;
    background-color: #421f44;
    color:gray;
    align-items: center;
    text-align: center;
    padding: 0 30px;
    border: 1px gray solid;
    border-radius: 10px;

}


.header__search > input{
    background-color: transparent;
    border: none;
    text-align: center;
    min-width: 35vw;

}
.header__right{
    flex:0.3;
    display: flex;
    align-items: flex-end;
}

.header__right > .MuiSvgIcon-root{
    margin-left: auto;
    margin-right: 20px;
}