.login {
  background-color: #f8f8f8;
  height: 100vh;
  display: grid;
  place-items: center;
}

.login__container {
  text-align: center;
  padding: 100px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  padding-bottom: 20px;
}

.login__container img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  object-fit: contain;
}

.login__container button {
  margin-top: 20px;
  text-transform: inherit !important;
  background-color: #0a8d48;
  color: white;
}

.login__container button:hover {
  background-color: #0a8d00;
  color: white;
}
