.message {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.message img {
  height: 50px;
  width: 50px;
  object-fit: contain;
  margin-right: 6px;
}

.message__time {
  color: gray;
  font-weight: 300;
  font-size: 13px;
}
