.sideBarOption{
    cursor: pointer;
    padding-right: 10px;
    padding-bottom: 5px;
}


.conAndTitle{
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.conAndTitle > .MuiSvgIcon-root{
    font-size: 15px;
}
.conAndTitle h3{
    font-size: 15px;
    margin-left: 10px;
}

.titleOnly h3{
    font-size: 15px;
    font-weight: 500;
}

.sideBarOption:hover{
    background-color: #340e36;
    opacity: 0.9;
}




